<ion-content>
<nb-layout>
      <nb-layout-header fixed class="nav-bar">
        <div class="header-container">
          <button nbButton status="success" size="tiny" (click)="toggle()" > 
            <ion-icon *ngIf="!isColapsed" name="caret-back-outline" size="large"></ion-icon>
            <ion-icon *ngIf="isColapsed" name="caret-forward-outline" size="large"></ion-icon>  
          </button>
        </div>
        <div class="header-container">
          <shop-filtre></shop-filtre>
        </div>
      </nb-layout-header>

      <nb-sidebar   responsive>
            <nb-menu [items]="items">
            </nb-menu>
            <button (click)="login()">login</button>
      </nb-sidebar>
      
      <nb-layout-column>
          <router-outlet></router-outlet>
      </nb-layout-column>
    </nb-layout>
</ion-content>